name = "stortinget-rss-worker"
main = "build/index.js"
compatibility_date = "2025-12-18"


[triggers]
crons = ["0 */12 * * *"] # 0 minutes over every 12th hour, every day in the month, every month, every day in the week 

[vars]
FEED_URL = "https://www.stortinget.no/no/Stottemeny/RSS/Lovbeslutninger/"
EDGE_FUNCTION_URL = "https://fwynzlokbzycftaaeuhb.supabase.co/functions/v1/ingest-stortinget"


[[kv_namespaces]]
binding = "STORTINGET_STATE"
id ="aaf6e562f4a44010b8ada55c881efeb1"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[build]
command = "cargo install -q worker-build@^0.7 && worker-build --release"