name = "stortinget-rss-worker"
main = "build/index.js"
compatibility_date = "2025-12-18"


[triggers]
crons = ["5 * * * *"] # 5 minutes over every hour, day in the month, every month, every day in the week 

[vars]
FEED_URL = "https://www.stortinget.no/no/Stottemeny/RSS/Lovbeslutninger/"
EDGE_FUNCTION_URL = "https://fwynzlokbzycftaaeuhb.supabase.co/functions/v1/ingest-stortinget"


[[kv_namespaces]]
binding = "STORTINGET_STATE"
id ="aaf6e562f4a44010b8ada55c881efeb1"

[build]
command = "cargo install -q worker-build@^0.7 && worker-build --release"